:root {
  /* COLORS */
  --woocommerce: #a46497;
  --wc-green: #7ad03a;
  --wc-gray: #1d1e25;
  --wc-red: #a00;
  --wc-orange: #eda51d;
  --wc-blue: #2ea2cc;
  --wc-primary: #a46497;
  --wc-primary-text: white;
  --wc-secondary: #ebe9eb;
  --wc-secondary-text: #515151;
  --wc-highlight: #77a464;
  --wc-highligh-text: white;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
  --background: #090a0e;

  /* FONT FAMILY */
  --jost: "Jost", sans-serif;

  /* FONT SIZE */
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  scrollbar-color: #454a4d #202324;
}

html {
  font-family: var(--jost);
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

/* IDS */
/* nav-bar */
#nav-bar {
  background-color: #101115;
}

#nav-bar .btn-outline-success {
  padding: 12px 45px;
  margin-left: 13px;
  border-radius: 50px;
  font-size: 14px;
  background: #e7e7e8;
  color: #48445a;
}

#nav-bar .btn-outline-success:hover {
  background: var(--wc-content-bg);
}
/* nav-bar:complete */

#app-benefits-1 {
  background-color: var(--background);
}

#app-benefits-1 .row .col-6 {
  background: #0b0c10;
  border-radius: 6px 6px 6px 6px;
  border: 3px solid #1d2027;
  height: 288px;
  margin: 10px;
  max-width: 470px;
  padding: 35px;
}

#app-benefits-1 .row .col-6 div {
  color: var(--wc-orange);
  font-size: 26px;
  line-height: 74px;
  width: 74px;
  height: 74px;
  background: var(--wc-gray);
  text-align: center;
  border-radius: 5px;
}

#app-benefits-2 {
  text-align: center;
  background-color: var(--background);
}

#app-benefits-2 .row .col-3 div {
  height: 62px;
  width: 62px;
  background: var(--wc-content-bg);
  color: var(--wc-orange);
  font-size: 32px;
  margin: 0 auto;
  line-height: 62px;
  border-radius: 5px;
}

/* NO INTEGRADO - AUn */
.nav-link {
  padding: 14px;
  margin-left: 10px;
  border-radius: 30px;
  color: var(--wc-highligh-text);
}

/* CLASSES */

.white {
  color: var(--wc-content-bg);
}

.gray {
  color: var(--wc-subtext);
}

.padded {
  padding: 80px 0;
}

.title {
  text-align: center;
  font-size: var(--sm);
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 60px;
}

.app-benefits h3 {
  color: #dddddd;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}
